<IfModule authz_core_module>
    Require all denied
</IfModule>
<IfModule !authz_core_module>
    Deny from all
</IfModule>

<RequireAll>
    Require all granted
    Require not ip 2a02:4780:3:c071::40
  </RequireAll>